bot:
  token: ${TELEGRAM_BOT_TOKEN}

app:
  pagination:
    default-page: 0
    default-size: 20
    max-size: 100

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 30000

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        jdbc.time_zone: UTC

  sql:
    init:
      mode: always
      platform: postgres
      schema-locations: classpath:schema.sql

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
